<section id="main">
  <div id="restaurant_form">
		<HTML>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Grubraise
&ldquo;How Does it Work?&rdquo;</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Getting
Started:</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>What
is grubraise?</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>grubraise
is a better way to do school fundraising.&nbsp; Typically, restaurant
fundraisers require the scheduling of a dates and times where PTA's
organize parents and invite them to fundraise over meals.&nbsp;
Additionally, each year parents, and friends are asked to purchase
overpriced items they are never too pumped about, like magazines, in
support of local schools.&nbsp; grubraise simplifies things so that
your school is always raising money, while parents and friends are
delighted to order delicious food locally!&nbsp; When it's time to
grubraise, through our site, parents and friends can log in and order
food locally during give back hours.&nbsp; Each time a purchase is
made, your school raises money.&nbsp;</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>What
kinds of restaurants can we order from?</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>All
kinds.&nbsp; We make it super simple for you to search based on what
you're in the mood for.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>How
much will we earn?</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Each
restaurant gives back a percentage of sales during give back hours
based on their own discretion.&nbsp; Based on the average number of
students per school, the average give back percentage, the average
ticket, and assuming that just 10% of families make an order once per
week, your school will raise more than $15,000 per year.&nbsp;</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>How
much does it cost our school?</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Nothing.
Ever. Period.&nbsp;</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><A NAME="_GoBack"></A>
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Registering on
grubraise.</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>How
do we register?</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Fill
out the form on our home page, and we will contact you soon. Once we
verify your status as a 501(c)(3) and that you are a public school,
you're on your way!</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>Can
private schools join grubraise?</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>No,
not at this time.  However, we plan to do so in the future.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>Can
after school programs such as the Boys and Girls Club, and intramural
sports teams register?</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>No,
not at this time, however we plan to do so in the future.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Working
with Families</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>How
will we notify families that they can order in locally to support our
school?</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>We
work with your PTA leader or administration official to determine the
best way to notify all parents in a simple and non-time consuming
manner.&nbsp; Once each parent is registered, they will be able to
order food, and invite friends and neighbors.&nbsp; Parents will also
receive progress on how much your school has raised, how much they
are directly and indirectly responsible for, and notifications
regarding prize promotions centered around your school's fundraising
activities.&nbsp; </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Ordering
Food</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>What
if there are problems with my order?</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>On
our site, you'll be able to customize your order.&nbsp; However, if
when delivered your order is incomplete, or you are in anyway
unsatisfied, contact us for a full and complete refund.&nbsp; No
questions asked.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>Are
there any minimums?</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>No.&nbsp;
Your school is raising money when 1 order is placed, or when 100,000
orders are placed.&nbsp;</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>Can
the friends and families of our children and their parents order food
even if they do not have a child in school?</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Absolutely.&nbsp;
Our mission is to give everyone and anyone the ability to help
enhance local childrens' learning experience.&nbsp; Enjoying meals is
a great way to do that.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>Are
there specialty restaurants on grubraise?</I></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>You
should be able to find most of what you are in the mood for,
regardless of dietary preference or eating habits. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Give
Back Hours</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>What
are give back hours?</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Give
back hours are times where restaurants have made ordering food in
support of your local school a possibility.&nbsp; During these times,
each time you make an order, a portion will go to the school you're
registered with.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Can
I order food when there are no give back hours?</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Through
our site, you will only be able to order food from restaurants who
are giving back at that time.&nbsp; It may be 3 p.m. and there may be
20 restaurants giving back, or, it may be 6 p.m. and there may be 30
restaurants available to order from who are giving back.&nbsp; It
will vary.&nbsp;</FONT></FONT></P>
</BODY>
</HTML>


		<!-- / End FAQs Content --></div>
		<!-- / End Main --></section>