<nav>
<ol>
<a href="index.html"><li class="">Raise Money</li></a>
<a href="help.html"><li class="">How Does it Work?</li></a>
<a href="restuarant.html"><li class="">Restaurants</li></a>
</ol>
</nav>
</header>
<section id="main">

<h1>Editing pto</h1>

<%= render 'form' %>

<%= link_to 'Show', @pto %> |
<%= link_to 'Back', ptos_path %>

</section>