<section id="main">
		<!-- / Splash Image -->
<h1>Eat out to support your local schools</h1>
<img src="assets/diagram_HD.png" alt="chart"/>
		<!-- / Sidebar -->
<aside>
<h3>Fundraise over Meals</h3>
<div id="subheader">If you are a school official, or PTA / PTO leader, please enter your basic contact information below. We will be in touch as soon as possible to explain the next steps, and to get your school properly set up.</div>
							
<%= render 'form' %><br>

<p class="terms">By clicking 'Start Raising' you agree to the <a href="tos.html" onclick="window.open(this.href);return false;">Terms and Conditions</a> and <a href="privacy" onclick="window.open(this.href);return false;">Privacy Policy</a></p>
</aside>
<div class="clearfix"></div>
</section>
