<section id="main">
<div id="restaurant_form">
							<h2>Signup Successful</h2>
							<p>Congratulations! You have taken the first step towards enabling the parents of your students to fundraise for your school while at the same time feeding their kids. You will receive an e-mail soon which will outline the next steps. In the meantime, you may also feel free to e-mail us at info@grubraise.com</p>
		</div>
	</section>