<nav>
<ol>
<a href="index.html"><li class="">Raise Money</li></a>
<a href="help.html"><li class="">How Does it Work?</li></a>
<a href="restuarant.html"><li class="">Restaurants</li></a>
</ol>
</nav>
</header>
<section id="main">
<div id="restaurant_form">
							<h2>Signup Successful</h2>
							<p>Congratulations! You have taken the first step towards enabling the parents of your students to fundraise for your school while at the same time feeding their kids. You will receive an e-mail soon which will outline the next steps. In the meantime, you may also feel free to e-mail us at info@grubraise.com</p>
		</div>
	</section>