<nav>
<ol>
<a href="index.html"><li class="">Raise Money</li></a>
<a href="help.html"><li class="">How Does it Work?</li></a>
<a href="restuarant.html"><li class="">Restaurants</li></a>
</ol>
</nav>
</header>
<section id="main">
  <div id="restaurant_form">

<h2>Editing restuarant</h2>

<%= render 'form' %>

<%= link_to 'Show', @restuarant %> |
<%= link_to 'Back', restuarants_path %>

</div>
</section>