<section id="main">
	<div id="restaurant_form">
		<h2>Restaurant Form</h2>
		<p>When will that be? Do a flip! File not found. Hello Morbo, how's the family? Ok, we'll go deliver this crate like professionals, and then we'll go ride the bumper cars.</p>
	
		<br />

		<%= render 'form' %>

	</div>
</section>