<nav>
<ol>
<a href="index.html"><li class="">Raise Money</li></a>
<a href="help.html"><li class="">How Does it Work?</li></a>
<a href="restuarant.html"><li class="selected">Restaurants</li></a>
</ol>
</nav>
</header>
<section id="main">
	<div id="restaurant_form">
		<h2>Restaurant Form</h2>
		<p>If you are a restaurant owner please enter your basic contact information below. We will be in touch as soon as possible to explain the next steps, and to get your restaurant properly set up</p>
	
		<br />

		<%= render 'form' %>

	</div>
</section>